/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html, body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin: -10px 0 16px;
}